.post {
    padding: 2rem 15px;
    border-bottom: 2px solid #ececec;
  }
  
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .title p {
    font-weight: bold;
  }
  
  .description {
    font-size: 0.8rem;
  }
  
  .post__details {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
  }
  
  .post__details .post__type:nth-child(1) {
    font-weight: 400;
  }
  
  .post__details .post__type .type {
    color: #029bb9;
  }